# dependencies
/node_modules
/.pnpm-store

# testing
/coverage

# production
/build
/prod
/.next
/out

# misc
.DS_Store
.env
.env.local
.env.cloud

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
